.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.card {
    max-width: 360px;
    margin: 0 auto;
}

#btn-login {
    border-radius: 0.4em;
    width: 265px;
    margin-top: 7px;
}

#btn-sign-up {
    border-radius: 0.4em;
    width: 265px;
    margin-top: 10px;
}

.si-btn {
    font: bold;
}

.sup-text {
    font-size: 16px;
}

.sup-no-underline {
    text-decoration: none;
}
  
.lg-no-underline {
    text-decoration: none;
}  